
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="/style4.css">
   <br>  
<h1><a href="/pets">Your Pets</a></h1>
<form action="/pets/<%=@pet.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
<input type="text" name="name" value="<%=@pet.name%>">
<input type="text_area" name="age" value="<%=@pet.age%>">
<input type="text_area" name="notes" value="<%=@pet.notes%>">
<input type="submit" value="Update your fluffy frewnd">
</form>
<br>
<form method="post" action="/pets/<%=@pet.id %>">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="delete">
</form>
<br>
<form method="post" action="/logout">
  <input  type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Log out">
</form>

