
<h4><a href= '/pets'>Your Pets</a></h4>

<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="/style6.css">
<body>
<dl>
<dt><h1><%=@pet.name%></h1></dt>
<dt><h1>Pet's Age:</h1>
</dt> <dd><h2><%=@pet.age%></h2></dd>
<dt><h1>Notes:</h1></dt> 
<dd><h2><%=@pet.notes%></h2></dd>
</dl>
</body>
<br>

<br>
<h3><a href='/pets/<%=@pet.id%>>/edit'> Update your Pets here</a></h3>
<br>
<form method="post" action="/pets/<%= @pet.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>

<br>
<form method="post" action="/logout">
  <input  type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Log out">
</form>
